/* Sims 4 geïnspireerde lettertype */
@import url('https://fonts.cdnfonts.com/css/the-sims-sans');
                
/* Inclusief padding en border in een box. Zonder word alles groter dan de daadwerkelijke grootte */
* {
  box-sizing: border-box;
}

html {
  height: 150vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  color: #4276b7;
  font-family: 'The Sims Sans', sans-serif;
  font-family: 'The Sims Sans SC', sans-serif;
}

/* Zorgt er voor dat alles onderste boven staat */
article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 50vw;
  max-width: 25em;
  min-width: 20em;
  border-radius: 1rem;
  background-image: url("../assets/sims-background.png");
  transition: .25s;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}

h1 {
  margin: 2rem 0 1rem;
  color: white;
  font-size: 2.8rem;
}

.profile-pic {
  position: relative;
  width: 10em;
  height: 10em;
  border-radius: 10em;
  border: 4px solid #a6e329;
  transition: .25s .15s;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

/* Zorgt er voor dat alles in het midden en naast elkaar staat en de profiel foto er voor de helft overheen gaat */
dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "house-dd cake-dd coffee-dd"
    "house-dt cake-dt coffee-dt"
    ;
  justify-items: center;
  width: 100%;
  margin-top: -5rem;
  margin-bottom: 0;
  padding: 5rem 0 3rem;
  text-align: center;
  background: rgb(255,255,255);
}

dt {
  margin-top: .25rem;
  padding-top: .25rem;
  border-top: 1px solid #a6e329;
  font-weight: bold;
}

dt:nth-of-type(1) {
  grid-area: house-dt;
}
dt:nth-of-type(2) {
  grid-area: cake-dt;
  /* Zorgt er voor dat het een stukje naar beneden gaat vanaf boven. */
  transform: translateY(1rem);
}
dt:nth-of-type(3) {
  grid-area: coffee-dt;
}

dd {
  margin: 0;
  padding-left: .3rem;
  transition: .25s .3s;
}

/* Sims 4 icon */
dd img{
  width: 3rem;
  height: 3rem;
}

/* Zorgt er voor dat het een stukje naar beneden gaat vanaf boven. */
dd:nth-of-type(2){  
  transform: translateY(1rem);
}

/* float zorgt er in dit geval dat de sections over elkaar gevallen zijn */
#slideshow {
  width:20rem;
  overflow:hidden;
  margin-top: 2.5em;
}

/* Zorgt er voor dat de tekst in het midden staat */
.container section {
  width:20rem;
  margin-bottom: 2rem;
}

/* Zorgt er voor dat de tekst in het midden staat */
.container section p{
  text-align: center;
  font-size: 1.2rem;
  color: #325c8e;
  padding: 0 1rem;
}

/* Zorgt voor de juiste formaat en dat hij in het midden is gepositioneerd */
.container section img {
  width: 3rem;
  height: 3rem;
  display: block;
  margin: auto;
}
  
/* Als deze animatie ondersteunt wordt, laat hij de onderstaande code zien */
@supports (animation:slide 11s ease-in-out infinite) {
  html {
    height: 100vh;
  }

  body{
    height: 100vh;
  }
/* automatische slider */
.container {
  width: 80rem;
  position:relative;
  animation:slide 11s ease-in-out infinite;
}

/* float zorgt er in dit geval dat de sections over elkaar gevallen zijn */
.container section {
  width:20rem;
  height: 6.5rem;
  float:left;
}

/* Pauseert de animatie als je er overheen hovert */
.container:hover {
 animation-play-state:paused;
}

.container section {
  width:20rem;
  margin: 0;
}


/* Zorgt ervoor dat er een slide show ontstaat */
@keyframes slide {
  0% {left:0;}
  25% {left:-20rem;}
  50% {left:-40rem;}
  75% {left:-60rem;}
  100% {left:0;}
}
}